{% extends "layout.html.j2" %}

{% block nav %}
	{% include "nav_bar.html.j2" with context %}
{% endblock nav %}

{% block main %}
<div id="page_body" class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-12">
					<div class="page-header tournament-header">
						<div class="row text-center">
						<img class="mx-auto" src="/static/images/logo.png" alt="UWHScores Logo" height="200px">
						</div>
						<p class=lead>
							Welcome to UWHScores.com, the source for underwater hockey tournament schedules, scores and standings.
						<p>
					</div>
					{% if live_tournaments -%}
					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">Tournaments In Progress</h3>
					  </div>
						{% for t in live_tournaments %}
					  <div class="panel-body">
							{% if t.banner %}
							<a href="/t/{{t.short_name}}"><img class=tournament-banner src="/{{t.banner}}"></a>
							{% endif %}
							<h4><a href="/t/{{t.short_name}}">{{t.name}} <i class="fa fa-chevron-right"></i></a></h4>
							<strong>{{ t.location }}, {{ t.date_string}}</strong>
					  </div>
						{% endfor %}
					</div>
					{%- endif %}
					<p>
						UWHScores.com provides a source for both players and tournament organizers to get valuable information about tournaments
						as they happen. Players can follow their teams schedule, which is updated continuously throughout the tournament, and standings.
						As games are played and bracket schedules are filled in based on the standings and game results.
					</p>
					<p>
						For tournament organizers and officials, UWHScores handles all the difficult tasks of tabulating standings
						automatically in real time. All you need to do is enter the scores from each game, which can be done easily from any
						device with an internet connection, even your phone. UWHScores takes care of all the points calculations and handles
						all the tie breakers too. No more frantically doing math on the back of a wet schedule to figure out the first bracket
						game.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h2>Features</h2>
				</div>
			</div>
			<div class="row">
				<div class="feature-item col-md-4">
						<span class="fa-stack fa-4x">
						<i class="fa fa-circle fa-stack-2x feature-circle"></i>
						<i class="fa fa-calendar fa-stack-1x text-primary"></i>
						</span>
						<h4>
						<strong>Populated Schedules</strong>
						</h4>
						<p>Schedules that update as the tournament unfolds</p>
				</div>
				<div class="feature-item col-md-4">
						<span class="fa-stack fa-4x">
						<i class="fa fa-circle fa-stack-2x feature-circle"></i>
						<i class="fa fa-sort-numeric-down fa-stack-1x text-primary"></i>
						</span>
						<h4>
						<strong>Standings in Real Time</strong>
						</h4>
						<p>Standings calculated as games unfold reflecting all results and tiebreakers</p>
				</div>
				<div class="feature-item col-md-4">
						<span class="fa-stack fa-4x">
						<i class="fa fa-circle fa-stack-2x feature-circle"></i>
						<i class="fa fa-trophy fa-stack-1x text-primary"></i>
						</span>
						<h4>
						<strong>Final Finishes and Medals</strong>
						</h4>
						<p>Final results from the bracket</p>
				</div>
			</div>

			<div class="row bottom-buffer">
				<div class="col-md-12">
					<h2>Questions?</h2>
					<a class="btn btn-primary btn-md" href="/faq" role="button">Got more questions? Read the FAQ <span class="fa fa-chevron-right"></span></a>
				</div>
			</div>
		</div>

		<!-- side bar -->
		<div class="col-md-4">
			<div class="well">
				{% if future_tournaments -%}
				<h3>Upcoming Tournaments</h3>
				<div class="list-group">
					{% for t in future_tournaments|sort -%}
						<a href="/t/{{t.short_name}}" class="list-group-item">
							{% if t.banner_sm %}
							<img class=tournament-banner  src=/{{t.banner_sm}}>
              {% elif t.banner %}
              <img class=tournament-banner  src=/{{t.banner}}>
							{% endif %}
							<h4>{{ t.name }}</h4> {{ t.location }} {{ t.date_string}}
						</a>
					{% endfor %}
				</div>
				{%- endif %}

				<h3>Past Tournaments</h3>
				<div class="list-group">
					{% for t in past_tournaments -%}
						<a href="/t/{{t.short_name}}" class="list-group-item">
							{% if t.banner_sm %}
							<img class=tournament-banner  src=/{{t.banner_sm}}>
              {% elif t.banner %}
              <img class=tournament-banner  src=/{{t.banner}}>
							{% endif %}
							<h4>{{ t.name }}</h4> {{ t.location }} {{ t.date_string}}
						</a>
					{% endfor %}
				</div>
			</div>
		</div>
  </div> <!-- row -->
</div> <!-- container -->
{%endblock main %}
