{% extends "layout.html.j2" %}

{% block nav %}
	{% include "nav_bar.html.j2" with context %}
{% endblock nav %}

{% block main %}
<div id="page_body" class="container">
	<div class="row page-header">
		<div class="col-md-8 col-sm-8 col-xs-8">
			<div class="tournament-header">
				<h1 class="tournament-title">{{ tournament.name }}</h1>
				<h4 class="tournament-info">{{ tournament.location }} - {{ tournament.date_string }}</h4>
			</div>
		</div>
		{% if tournament.banner_sm %}
		<div class="col-md-4 col-sm-4 col-xs-4 tournament-header-banner">
			<img class=" pull-right" src="/{{ tournament.banner_sm }}">
		</div>
		{% endif %}
	</div>
	<div class="row">
		{% if site_message -%}
		<div class="col-md-8">
			<div class="alert alert-info" role="alert">
				<strong>Announcement:</strong>
				<p>{{ site_message }}</p>
			</div>
		</div>
		{%- endif %}
	</div>
	<div class="row">
	{% if team_list -%}
	<div id="team_nav" class="col-md-4 listgroup">
		{% if print_friendly -%}
		<a href="/t/{{tournament.short_name}}/print"><i class="fa fa-fw fa-print"></i>Printer Friendly Schedule</a>
		{% endif %}
		<h3>Filter For Team</h3>
		{% for team in team_list -%}
		<a class="list-group-item" href="/t/{{ tournament.short_name}}/team/{{ team.team_id  }}">
			{% if team.flag_url %}<img src={{ team.flag_url}} class="flag-thumb pull-left">{% endif %}
			{{ team.name }}
		</a>
		{%- endfor %}
		<a class="list-group-item list-group-item-info" href="/t/{{ tournament.short_name }}">Full Schedule</a>
	</div>
	{% else %}
	<div class="col-md-4">
		<div class="alert alert-info" role="alert">
			<h3> NOTICE </h3>
			<p><strong> Team schedule view only shows confirmed games! </strong></p>
			<p> Games for later pods or brackets that haven't been decided will not
			show here until teams are assigned.</p>
			<p> Check back regularly to confirm future games.</p>
		</div>
	</div>
	{%- endif %}
	<div class="col-md-8">
	{% with messages = get_flashed_messages() -%}
		{% if messages %}
			<div class="alert alert-danger alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{% for message in messages %}
				{{ message }}</br>
			{% endfor %}
			</div>
		{% endif %}
	{%- endwith %}
		<ul id=tabNav class="nav nav-pills">
			<li role="presentation" class="active btn-lg" ><a href="#schedule" data-toggle="tab">Schedule</a></li>
			<li role="presentation" class="btn-lg"><a id="standings_pill" href="#standings" data-toggle="tab">Standings</a></li>
			{% if placings %}<li role="presentation" class="btn-lg"><a href="#places" data-toggle="tab">Placings</a></li>{% endif %}
			{% if team_info and team_info.roster %}<li role="presentation" class="btn-lg"><a href="#roster" data-toggle="tab">Roster</a></li>{% endif %}
      {% if team_infos %}<li role="presentation" class="btn-lg"><a href="#rosters" data-toggle="tab">Rosters</a></li>{% endif %}
		</ul>

		<div id="tabContents" class="tab-content">

			{% block schedule %}
        {% include "show_tournament/include_schedule.html.j2" with context %}
      {% endblock schedule %}

			{% block standings %}
        {% include "show_tournament/include_standings.html.j2" with context %}
      {% endblock standings %}

			{% block placings %}
        {% include "show_tournament/include_placings.html.j2" with context %}
      {% endblock placings %}

      {% block rosters %}
        {% include "show_tournament/include_rosters.html.j2" with context %}
      {% endblock rosters %}
	   </div> <!-- tabContent -->
	</div>

	</div> <!-- row -->
</div> <!-- container -->
<script>
$(document).ready(function() {
    if (location.hash) {
        $("a[href='" + location.hash + "']").tab("show");
    }
    $(document.body).on("click", "a[data-toggle='tab']", function(event) {
        location.hash = this.getAttribute("href");
    });
});
$(window).on("popstate", function() {
    var anchor = location.hash || $("a[data-toggle='tab']").first().attr("href");
    $("a[href='" + anchor + "']").tab("show");
});
</script>
{%endblock main %}
