{% extends "/admin/admin_layout.html.j2" %}

{% block nav %}
	{% include "nav_bar.html.j2" with context %}
{% endblock nav %}

{% block main %}

<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-md-8">
      <h1 class="page-header">Error</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 ">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger" role="alert">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
        {% endif %}
      {% endwith %}

      <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
    </div>
  </div>

</div>
<!-- /.container -->

{% endblock main %}
