{% extends "common/layout.html.j2" %}

{% block nav %}
  {% include "common/nav_bar.html.j2" with context %}
{% endblock nav %}

{% block main %}
<div id="page_body" class="container-fluid">
  <div class="row gy-3">
    {%- if player is not none -%}
    <div class="col-md-4 mt-4" id="player-search">
      <form class="input-group rounded" id="playerSearch">
        <input id="search-box" type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
          aria-describedby="search-addon" />
          <span class="input-group-text border-0" >
          <i class="bi bi-search" aria-hidden="true"></i>
        </span>
      </form>
      <div id=results>
        <ul id=players class="list-group search-list">
        </ul>
      </div>
    </div>
    {%- endif -%}

      {% if player %}
      <div class="col-md-8">
      {% if show_admin_link %}
      <a href="/admin/player/{{ player.player_id}}">
        <button type="button" class="btn btn-secondary btn-sm float-end">
          <i class="bi bi-pencil-square" aria-hidden="true"></i> Edit Player
        </button>
      </a>
      {% endif %}
      <h1 class="player_name">{{ player.display_name }}</h1>
      <table class="table player-table">
        <theader>
          <tr>
            <th>Tournament</th>
            <th></th>
            <th>Team</th>
            <th>Placing</th>
          <tr>
        </theader>
        <tbody>
          {% for team in player.teams %}
          <tr>
            <td> <a href="/t/{{team.t_short_name }}/team/{{team.team_id}}">{{ team.tournament }}</a></td>
            <td> {{ team.tournament_date }} </td>
            <td> <a href="/t/{{team.t_short_name }}/team/{{ team.team_id }}">{{ team.name }}</a></td>
            {% if team.placing %}
            <td> {{ team.placing.place }} in {{ team.placing.div }} </td>
            {% else %}
            <td class="soft">TBD</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
      {% else %}
      <div class="col-md-8 col-auto mx-auto">
        <h1 class="player_name"><i class="bi bi-people-fill px-3"></i>Players</h1>
        <div class="pb-3">
          <p>
            Search for players to see their team history. Use the search box to type in a player name. Once you find the player
            you can click on them to view their page. There you will see history from past tournaments and be able to follow links to
            see details from the previous teams.
          </p>
          <p>
            If you find any errors please notify <a href="mailto:info@uwhscores.com?subject=Player info Correction">info@uwhscores.com</a> and I'll do my best to correct it.
          </p>
        </div>
        <form class="input-group rounded" id="playerSearch">
          <input id="search-box" type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
            aria-describedby="search-addon" />
            <span class="input-group-text border-0" >
            <i class="bi bi-search" aria-hidden="true"></i>
          </span>
        </form>
        <div id=results>
          <ul id=players class="list-group search-list">
          </ul>
        </div>
      </div>
      {% endif %}
    </div>

  </div>
</div>
{%endblock main %}
