{% extends "common/print_layout.html.j2" %}

{% block tabs %}
<div id="page_body" class="container" style="margin-left:2em">
{% endblock tabs %}

{% block games %}
<div class=row>
	<div id="schedule" class="col-md-12">
		<h1>Schedule</h1>
		{% for game in games %}
		{% if loop.previtem %}
			{% set lastDay = loop.previtem.day %}
		{% endif %}
		{% if loop.first or game.day != lastDay %}
		<table id=games class="table table-striped">
			<thead>
				<tr>
					<th>Game</th>
					<th>Start Time</th>
					<th>Pool</th>
					<th>Pod</th>
					<th>Black</th>
					<th>White</th>
				</tr>
			</thead>
			<tbody>
		{%endif %}
				<tr class="gamerow">
					<td>{{ game.gid }}</td>
					<td>{{ game.day }} {{ game.start_time }}</td>
					<td>{{ game.pool }}</td>
					{% if game.pod_color %}
						<td style="background-color:{{ game.pod_color }} !important">{{ game.pod }}</td>
					{% else %}
						<td>{{ game.pod }} </td>
					{% endif %}
					<td class={{game.style_b}}>{{ game.black }}</td>
					<td class={{game.style_w}}>{{ game.white }}</td>
				</tr>
			{% if loop.last%}
			</tbody>
		</table>
		{% endif %}

		{% endfor %}

		<p class=note>{{ noteText }}</p>
	</div>

</div> <!-- row -->
{% endblock games %}

</div> <!-- container -->
