{% extends "common/layout.html.j2" %}

{% block nav %}
	{% include "common/nav_bar.html.j2" with context %}
{% endblock nav %}

{% block main %}
<div id="page_body" class="container-md">
	<div class="row page-header align-items-center pb-3 mb-3">
		<div class="col-12 tournament-header ">
			{% if tournament.banner_sm %}
				<img class="float-end tournament-header-banner" src="/{{ tournament.banner_sm }}">
			{% endif %}
			<!-- tournament-header -->
				<h1 class="tournament-title">{{ tournament.name }}</h1>
				<h4 class="tournament-info">{{ tournament.location }} - {{ tournament.date_string }}</h4>

		</div>
	</div>
	{% if site_message -%}
	<div class="row">
		<div class="col">
			<div class="alert alert-info" role="alert">
				<h4 class="alert-heading">Annoucement: {{ site_message }}</h4>
			</div>
		</div>
	</div>
	{%- endif %}
	{% with messages = get_flashed_messages() -%}
		{% if messages %}
		<div class="row">
			<div class="col">
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					<ul>
					{% for message in messages %}
						<li>
							{{ message }}
						</li>
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		{% endif %}
	{%- endwith %}

	<div class="row pb-3">
		{% if team_list -%}
		<div id="team_nav" class="col-md-4">
			{% if print_friendly -%}
				<a href="/t/{{tournament.short_name}}/print"><i class="bi bi-printer-fill"></i> Printer Friendly Schedule</a>
			{% endif %}
			<h3>Filter For Team</h3>
			<div class="listgroup">
				{% for team in team_list -%}
				<a class="list-group-item" href="/t/{{ tournament.short_name}}/team/{{ team.team_id  }}">
					{% if team.flag_url %}<img src={{ team.flag_url}} class="flag-thumb pull-left">{% endif %}
					{{ team.name }}
				</a>
				{%- endfor %}
				<a class="list-group-item list-group-item-info" href="/t/{{ tournament.short_name }}">Full Schedule</a>
			</div>
		</div>
		{% else %}
		<div class="col-md-4">
			<div class="alert alert-info" role="alert">
				<h3> NOTICE </h3>
				<p><strong> Team schedule view only shows confirmed games! </strong></p>
				<p> Games for later pods or brackets that haven't been decided will not
				show here until teams are assigned.</p>
				<p> Check back regularly to confirm future games.</p>
			</div>
		</div>
		{%- endif %}

		<div class="col-md-8 col-12" role="navigation">
			<ul class="nav nav-pills pb-2" id="nav-tabTournaments" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" data-bs-toggle="tab" href="#schedule">Schedule</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-bs-toggle="tab" href="#standings">Standings</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-bs-toggle="tab" href="#placings">Placings</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-bs-toggle="tab" href="#roster">Roster</a>
				</li>
			</ul>
			<div class="tab-content" id="nav-tabContent">
			  <div class="tab-pane fade show active" role="tabpanel" id="schedule">
					{% block schedule %}
        	{% include "pages/include_tournament/include_schedule.html.j2" with context %}
      		{% endblock schedule %}
				</div>
			  <div class="tab-pane fade" role="tabpanel" id="standings">
					{% block standings %}
        	{% include "pages/include_tournament/include_standings.html.j2" with context %}
      		{% endblock standings %}
				</div>
				<div class="tab-pane fade" role="tabpanel" id="roster">
					{% block rosters %}
	        {% include "pages/include_tournament/include_rosters.html.j2" with context %}
		      {% endblock rosters %}
				</div>
			  <div class="tab-pane fade" role="tabpanel" id="placings">
					{% block placings %}
	        {% include "pages/include_tournament/include_placings.html.j2" with context %}
		      {% endblock placings %}
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock main %}

{% block script %}
<script>
	window.addEventListener('load', function () {
		if (location.hash) {
			console.log(location.hash)
			var el = document.querySelector(`a[href="${location.hash}"`)
			var tab = new bootstrap.Tab(el)
			tab.show()
		}

		document.querySelectorAll("a[data-bs-toggle=tab]").forEach( el => {
			el.addEventListener('click', function(event){
			 location.hash = this.getAttribute("href");
			})
		});

		window.addEventListener('popstate', function(){
			var anchor = location.hash || "#schedule"
			var el = document.querySelector(`a[href="${anchor}"`)
			var tab = new bootstrap.Tab(el)
			tab.show()
		})
	});
</script>
{% endblock script %}
