{% extends "common/layout.html.j2" %}

{% block nav %}
	{% include "common/nav_bar.html.j2" with context %}
{% endblock nav %}

{% block main %}
<div id="page_body" class="container">
		<div class="row align-items-center">
			<div class="col-md-12">
				<div class="error-page">
					<h1>404</h1>
					<h2>Not Found</h2>
					<p>Sorry, you took a wrong turn somewhere.</p>
					<a href="/"><i class="fa fa-home"></i> Go back to the begining</a>
				</div>
      </div>
  </div>
</div>
{% endblock main %}
