{% extends "layout.html.j2" %}

{% block main %}
<div id="page_body" class="container">
		<div class="row align-items-center">
			<div class="panel panel-default">
				<div class="panel-heading">
          <h1>Error {{error_code}}</h1>
					{% if message %}
					<p>
						{{ message }}
					</p>
					{% else %}
          <p>
						Sorry, something went wrong.
					</p>
					{% endif %}
          <a href="/">Go back to the begining</a>
        </div>
      </div>
  </div>
</div>
{% endblock main %}
