{% extends "layout.html" %}

{% block games %}
<div id="games">
<h1>Schedule</h1>
<table>
	<tr class=header><td>Game</td><td>Start Time</td><td>Black</td><td></td><td>White</td><td></td></tr>

	{% set rank = 1 %}
	{% for game in games %}
		{% if rank % 2 == 0 %}
			{% set class="even" %}
		{% else %}
			{% set class="odd" %}
		{% endif %}
	
		<tr class={{ class }} >
			<td>{{ game.gid }}</td>
			<td>{{ game.day }} {{ game.start_time }}</td>
			<td>{{ game.black }}</td>
			<td>--</td>
			<td>{{ game.white}}</td>
			<td>--</td>
		</tr>
		{% set rank = rank + 1 %}
	{% endfor %}
</table>
{% endblock games %}
