{% block nav %}
    <!-- Navigation -->
    {% if request.host_url != "http://uwhscores.com/" -%}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" role="navigation" style="background-color: #8A0808;">
    {% else %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" role="navigation">
    {%- endif %}
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="/static/images/logo_banner.png" alt="" height="24">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ms-auto mb-2 mb-md-0">
            {% if tournament -%}
  					<li class="nav-item">
              <a class="nav-link" href="/admin/t/{{tournament.short_name}}"><i class="bi bi-speedometer2"></i> Dashboard</a>
            </li>
            {%- endif %}
            <li class="nav-item">
              <a class="nav-link" href="/admin"><i class="bi bi-stack"></i> Admin</a>
            </li>
					  <li class="nav-item">
              {%- if tournament -%}
                {% set user_view_href="/t/" ~ tournament.short_name %}
              {%- elif player -%}
                {% set user_view_href = "/p/" ~ player.player_id %}
              {%- else -%}
                {% set user_view_href="/" %}
              {%- endif -%}
              <a class="nav-link" href="{{user_view_href}}"><i class="bi bi-binoculars"></i> User View</a>
  					</li>
            <li class="nav-item">
                <a class="nav-link" href="/logout"><i class="bi bi-box-arrow-right"></i> Logout</a>
            </li>
    			</ul>
       </div>
     </div>
    </nav>
{% endblock nav %}
