.tournament-header {
	margin-top: 0px;
}

.tournament-title {
	margin-top: 0px;
}

.tournament-info {
	color: gray;
}

#dayPager {
	margin: 0px;
}

tr.major {
	border-bottom:1.5pt solid black;
}


tr.odd {
	background-color: #E6E6E6;
}
.soft
{
	color: #6E6E6E;
	font-style:italic;
}

.strong
{
	font-weight:bold;
}

.score {
	font-size: 3em;
	padding-left: 6px;
	padding-right: 6px;
	vertical-align: middle;
}

.border-right {
	border-right: 1px solid #ddd;
}

.color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
    margin-right: 5px;
    top: 5px;
    border-style: solid;
    border-width: 1px;
}

#dayPagerNav{
	position: absolute;
	left: 0;
	right: 0;
	text-align: right;
}

#dayPagerNav2 {
	clear: right;
}

.coin-flip {
	line-height:2.4em;
}

.coin-flip input {
	margin: 1em;
}
.team-name-coin{
	margin-left: 1em;
	font-size: 1.25em;
}

.feature-item {
	text-align: center;
}

.feature-circle {
	color: #eee;
}

.login-btn {
	margin-top: 1em;
	margin-bottom: 2em;
}

.bottom-buffer {
	margin-bottom: 2em;
}

@media screen and (max-width: 1000px) {
	#team_nav{
		visibility: hidden;
		display: none;
	}

	h1 {
		font-size:20px;
	}

    .btn-lg {
        padding: 0px;
    }

	.team-flag {
		max-width: 160px;
	}
}

@media print {
	body {
		font-size: 10px;
	}

	.gamerow tr {
		page-break-inside: avoid;
	}

	.table {
		page-break-after: always;
		padding: 0;
		margin: 0;
	}
}

.team-flag {
	padding: 1em;
}

#tabContents {
	padding-left: 1em;
}
