{% extends "/admin/admin_layout.html" %}

{% block nav %}
	{% include "admin/nav_admin.html" with context %}
{% endblock nav %}

{% block main %}

<div id="page_body" class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="page-header tournament-header">
			<h1 class="tournament-title">Timing Rules</h1>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
		{% with messages = get_flashed_messages() -%}
			{% if messages %}
				{% set last="" -%}
				<div class="alert alert-danger" role="alert">
				{% for message in messages %}
					{% if message != last -%}
						{{ message }}</br>
					{%- endif %}
					{% set last=message %}
				{% endfor %}
				</div>
			{% endif %}
		{%- endwith %}
		</div>
	</div>


	<div class="row">
		<div class="col-lg-12">
			<p> These are the rules that govern game times. They are used by the Navisjon game manaagement system. </p>
		</div>
		<div class="col-lg-12">
			<h4> Default Game Rules</h4>
			<p>These are the default timing rules used for game types that aren't in the special rules below</p>
			{% set r = timing_rules.default_rules %}
			{% include 'admin/timing_rule_table.html' %}
		</div>
		<div class="col-lg-12">
			{% for game_type in timing_rules.game_types %}
			<h4> Rules for game type {{ game_type.game_type }}</h4>
			{% set r = game_type.timing_rules %}
			{% include 'admin/timing_rule_table.html' %}
			{% endfor %}
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<a class="btn btn-info btn-sm" data-toggle="collapse" href="#raw_json" role="button" aria-expanded="false" aria-controls="raw_json">
  			Show Raw JSON
			</a>
			<a class="btn btn-info btn-sm" href="/admin/t/{{tournament.short_name}}/editgametiming">Edit JSON</a>
			<pre id=raw_json class=collapse></pre>
		</div>
	</div>
</div>
<script>
$(document).ready(function(){

   $.ajax({
            url: "http://{{request.host}}/api/v1/tournaments/{{tournament.tid}}/timingruleset",
            type: 'GET',
            dataType: 'json',
            success: function(res) {
				document.getElementById("raw_json").innerHTML = JSON.stringify(res, null, 2)
            }
        });

})

</script>
{% endblock main %}
