html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#page_body {
  overflow:auto;
  padding-bottom: 3em;
}

.footer {
  position: relative;
  margin-top: -3em; /* negative value of footer height */
  height: 2em;
  clear:both;
  padding-top: 1em;
}

.page-header {
  margin-top: 0;
  margin-bottom: 1em;
}
.tournament-header .tournament-hearder-banner {
	padding-top: 1em;
}

.tournament-title {
	margin-top: 0px;
}

.tournament-info {
	color: gray;
}

#dayPager {
	margin: 0px;
}

tr.major {
	border-bottom:1.5pt solid black;
}


tr.odd {
	background-color: #E6E6E6;
}
.soft
{
	color: #6E6E6E;
	font-style:italic;
}

.strong
{
	font-weight:bold;
}

.score {
	font-size: 3em;
	padding-left: 6px;
	padding-right: 6px;
	vertical-align: middle;
}

.border-right {
	border-right: 1px solid #ddd;
}

.color-box {
    width: 1em;
    height: 1em;
    display: inline-block;
	vertical-align: text-top;
    background-color: #FFFFFF;
    margin-right: 4px;
    border-style: solid;
    border-width: 1px;
}

#dayPagerNav{
	position: absolute;
	left: 0;
	right: 0;
	text-align: right;
}

#dayPagerNav2 {
	clear: right;
}

.coin-flip {
	line-height:2.4em;
}

.coin-flip input {
	margin: 1em;
}
.team-name-coin{
	margin-left: 1em;
	font-size: 1.25em;
}

.feature-item {
	text-align: center;
}

.feature-circle {
	color: #eee;
}

.login-btn {
	margin-top: 1em;
	margin-bottom: 2em;
}

.bottom-buffer {
	margin-bottom: 2em;
}

.team-flag {
	padding: 0em 1em 1em 1em;
}

.team-fag:after {
	clear: both;
}

img.flag-thumb {
	height: 24px;
	padding-right: .5em;
}

.game-description {
	 background-color: #ccc;
	 padding: 0.2em;
	 font-size: 0.9em;
}

.game-line {
	display: inline;
}

.game-time {
	font-weight: bold;
}

.stick-color {
	padding-right: 4px;
}

.stick-white {
	background-color: #FFFFFF;
}

.tournament-banner {
	max-width: 100%;
}

.roster-table a {
	color: #333;
}

.standings-table a {
	color: #333;
}

.roster-divider {
  border: 2px;
  border-color: black;
  border-top-style: solid;
}

#player-search {
	padding-left: 3em;
}

.search-list  {
	display: inline-block;
}

.error-page {
  text-align: center;
}

.error-page h1 {
  font-size: 8em;
}

@media screen and (max-width: 1000px) {
	#team_nav{
		visibility: hidden;
		display: none;
	}

	#tabNav li {
		padding: 10px 0px;
	}

	#tabNav li a {
		padding-left: 8px;
		padding-right: 8px;
	}

	#player-search {
		max-width: 80%;
		margin-left: 1em;
	}
	#player-search i {
		display: none;
		visibility: hidden;
	}

	h1 {
		font-size:20px;
	}

    .btn-lg {
        padding: 0px;
    }

	.team-flag {
		max-width: 160px;
	}

	img.flag-thumb {
		height: 16px;
	}

	.table>tbody>tr>td {
		padding: 4px;
	}

	.standings-table>thead>tr>th {
		padding-left: 2px;
		padding-right: 4px;
	}

  .footer-text {
    font-size: .5em;
  }

  .tournament-header-banner img {
    width: 200px;
  }
}

@media screen and (max-width: 600px) {
	.game-line {
		display: inline-block;
	}

	.game-description {
		word-wrap: break-word;
		display: inline-block;
		width: 80px;
	}

  .tournament-header-banner  img {
    max-width: 100px;
  }

  #tabNav li a {
    font-size: .75em;
  }
}

@media print {
	body {
		font-size: 10px;
	}

	h1 {
		font-size: 24px;
	}
	.gamerow tr {
		page-break-inside: avoid;
	}

	.table {
		/*page-break-after: always;*/
		padding: 0;
		margin: 0;
	}

	#games {
		page-break-after: always;
	}

	#team_nav {
		visibility: hidden;
		display: none;
	}

	#tabNav {
		visibility: hidden;
		display: none;
	}

	.team-flag {
		visibility: hidden;
		display: none;
	}

  .tournament-header-banner {
    visibility: hidden;
    display: none;
  }

}



/* #tabContents {
	padding-left: 1em;
} */
