#jsddm {
        margin: 0;
        padding: 0;
}

#jsddm li {
	float: left;
	list-style: none;
	font: 12px Tahoma, Arial;
}

#jsddm li a, li.no_link, li.dummy {
	display: block;
	background-color: #4671D5;
	padding: 5px 12px;
	text-decoration: none;
	border-right: 1px solid white;
	width: 70px;
	color: #EAFFED;
	white-space: nowrap;
}

#jsddm li a:hover { background: #1240AB }

#jsddm li ul {
	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
	border-top: 1px solid white;
	z-index: 999;
}

#jsddm li ul li {
	float: none;
	display: inline;
}

#jsddm li ul li a {
	width: auto;
	background: #4671D5;
}

#jsddm li ul li a:hover { background: #1240AB }

table 
{
	border-collapse:collapse;
	height=100%;
}

table, th, td 
{
	border: 1px solid black;
	padding-left: 1em;
	padding-right: 1em;
}

tr.header
{
	background-color:#4671D5;
	text-align: center;
	color: #FFFFFF;
}

tr.odd
{
	background-color:#FFFFFF;
}

tr.even
{
	background-color:#D8D8D8;
}

td.winner
{
}


td.soft
{
	/*color: #848484;*/
	color: #6E6E6E;
	font-style:italic;
}

td.strong
{
	font-weight:bold;
}

input.score
{
	margin-left: 1em;
}

a.update
{
	text-decoration:none;
	color: #0000FF;
}

h1 {
	margin-top: 0px;
	margin-bottom: 0px;
}

body {
	background-color: #cccccc;

}

#nav {
	background-color: #6C8CD5;
	height: 1.5em;
	margin-bottom: 10px; 
}

#tabs {
	width: 90%;
	margin: 5px;
}

/*
#schedule 
{
	float:left;
	width: 60%;
	margin-bottom: 20px;
}

#standings
{
	float: right;
	width: 40%;
}
*/
