<!DOCTYPE html>
<html lang="en">

<head>
	<title>Standings</title>
		
	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui.css') }}">
	<link rel="stylesheet" href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.css" >

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> 
	<!-- Custom Fonts -->
	<link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	<!-- Bootstrap Core JavaScript -->
	<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='jquery.js') }}"></script>
	<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
	<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='jquery-ui.js') }}"></script>
	<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"> </script>

	<script type="text/javascript">
		$(function() {
			$( "#tabs" ).tabs();
		});

		$(function() {
			$( "#menu" ).menu();
		});
		
		 $(document).ready(function()
               {                              
                       $('#games').DataTable({ordering: false, paging:false, info:false});
                       $('#standings_tbl').DataTable({ordering: false, paging:false, info:false});
                       $('#places_tbl').DataTable({ordering: false, paging:false, info:false});
               });

	</script>
</head>
<body>
	{% block nav %}{% endblock %}
	<div id=tabs>
		{% block tabs %}{% endblock %}
		{% block games %}{% endblock %}
		{% block standings %}{% endblock %}
		{% block places %}{% endblock %}
	</div>
	

</body>
</html>
