<!doctype html>
<head>
	<title>Standings</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0,  minimum-scale=1.0">  
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"> 
	<link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.css') }}">
	<script src="{{ url_for('static', filename='jquery-1.11.1.js') }}"></script>
	<script src="{{ url_for('static', filename='jquery-ui.js') }}"></script>
	<script>
	$(function() {
		$( "#tabs" ).tabs();
	});

	$(function() {
		$( "#menu" ).menu();
	});
	</script>

	<script type="text/javascript">
		var timeout = 500;
		var closetimer = 0;
		var ddmenuitem = 0;

		function jsddm_open() {
			jsddm_canceltimer();
			jsddm_close();
			ddmenuitem = $(this).find('ul').eq(0).css('visibility', 'visible');
			$('#jsddm > li').unbind('click');
			return false;
		}


		function jsddm_close() {
			if(ddmenuitem) ddmenuitem.css('visibility', 'hidden');
			$('#jsddm > li').bind('click', jsddm_open);
		}

		function jsddm_timer()
		{	closetimer = window.setTimeout(jsddm_close, timeout);}

		function jsddm_canceltimer()
		{	if(closetimer)
			{	window.clearTimeout(closetimer);
				closetimer = null;}}

		$(document).ready(function()
		{	
			$('#jsddm > li').bind('click mouseover', jsddm_open);
			$('#jsddm > li').bind('mouseout',  jsddm_timer);
		});

		document.onclick = jsddm_close;
	</script>

</head>
<body>
	<h1>{{ tournament }}</h1>
	{% block tabs %}{% endblock %}
	{% block games %}{% endblock %}
	{% block standings %}{% endblock %}
</body>
