{% block nav %}
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    	<div id="nav_bar" class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Underwater Hockey Scores</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
            	<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="/">Main</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Division<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/div/A">A Division</a></li>
							<li><a href="/div/B">B Division</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Pods<b class="caret"></b></a>
						<ul class="dropdown-menu">
						{% for pod in pods %}
							<li><a href="/pod/{{ pod.pod }}">Pod {{ pod.pod }}</a></li>
						{% endfor %}
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Teams<b class="caret"></b></a>
						<ul class="dropdown-menu">
						{% set last="" %}
						{% for team in standings|sort(attribute='name') %}
							{% if team.name != last %}
								<li><a href="/team/{{ team.team_id  }}">{{ team.name }}</a></li>
							{% endif %}
							{% set last = team.name %}
						{% endfor %}
						</ul>
					</li>
				</ul>
	       </div>
            <!-- /.navbar-collapse -->
        </div> <!-- ./container -->
    </nav> <!-- ./navigation -->
{% endblock nav %}
