{% extends "layout.html" %}

{% block nav %}
	{% include "nav_bar.html" with context %}
{% endblock nav %}

{% block tabs %}

                <ul>
                        <li><a href="#schedule">Schedule</a></li>
                        <li><a href="#standings">Standings</a></li>
                </ul>
{% endblock tabs %}

{% block games %}
<div id="schedule">
<h1>Schedule for {{ titleText }}</h1>
<table>
	<tr class=header><td>Game</td><td>Start Time</td><td>Pool</td><td>Black</td><td></td><td>White</td><td></td></tr>

	{% set rank = 1 %}
	{% for game in games %}
		{% if rank % 2 == 0 %}
			{% set class="even" %}
		{% else %}
			{% set class="odd" %}
		{% endif %}
	
		<tr class={{ class }} >
			<td>{{ game.gid }}</td>
			<td>{{ game.day }} {{ game.start_time }}</td>
			<td>{{ game.pool }}</td>
			<td class="{{game.style_b}}">{{ game.black }}</td>
			<td>{{game.score_b}}</td>
			<td class="{{game.style_w}}">{{ game.white }}</td>
			<td>{{game.score_w}}</td>
		</tr>
		{% set rank = rank + 1 %}
	{% endfor %}
</table>
</div>
{% endblock games %}

{% block standings %}
<div id="standings">
<h1>Current Standings</h1>
<table>
	<tr class=header><td>Rank</td><td>Team</td><td>Points</td><td>Record</td><td>GA</td><td>GP</td></tr>

	{% set rank = 1 %}
	{% for team in standings %}
		{% if rank % 2 == 0 %}
			{% set class="even" %}
		{% else %}
			{% set class="odd" %}
		{% endif %}
	
		<tr class={{ class }} >
			<td>{{ rank }}</td>
			<td>{{ team.name }}</td>
			<td>{{ team.points }} </td>
			<td>{{ team.wins }}-{{ team.losses }}-{{ team.ties }}</td>
			<td>{{ team.goals_allowed }}</td>
			<td>{{ team.games_played }} </td>
		</tr>
		{% set rank = rank + 1 %}
	{% endfor %}
</table>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</div>
{% endblock %}
