{% extends "layout.html" %}

{% block games %}
<div id="schedule">
<h1>Schedule</h1>
{% for messages in get_flashed_messages() %}
    <div class=flashes> {{ message }} </div>
{% endfor %}

<table>
	<tr class=header><td>Game</td><td>Start Time</td><td>Pool</td><td>Black</td><td></td><td>White</td><td></td><td></td></tr>
	{% set rank = 1 %}
	{% for game in games %}
		{% if rank % 2 == 0 %}
			{% set class="even" %}
		{% else %}
			{% set class="odd" %}
		{% endif %}
		<tr class={{ class }} >
			{% if game.black_tid < 0 or game.white_tid < 0 %}
				<td>{{ game.gid }}</td>
			{% else %}
				<td><a class=click href='update?gid={{game.gid}}'>{{ game.gid }}</a></td>
			{% endif %}
			<td>{{ game.day }} {{ game.start_time }}</td>
			<td>{{ game.pool }}</td>
			<td class={{game.style_b}}>{{ game.black }}</td>
			<td>{{game.score_b}}</td>
			<td class={{game.style_w}}>{{ game.white }}</td>
			<td>{{game.score_w}}</td>
			{% if game.black_tid < 0 or game.white_tid < 0 %}
				<td>---</td>
			{% else %}
				<td><a class=update href='update?gid={{game.gid}}'>Update</a></td>
			{% endif %}
		</tr>
		{% set rank = rank + 1 %}
	{% endfor %}
</table>
</div>
{% endblock games %}
