{% extends "layout.html" %}

{% block nav %}
	{% include "nav_bar.html" with context %}
{% endblock nav %}

{% block main %}
<div id="page_body" class="container">
	<div class="page-header">
		<h1>{{ tournament }}</h1>		

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="alert alert-danger" role="alert">
			{% for message in messages %}
				{{ message }}</br>
			{% endfor %}
			</div>
		{% endif %}
	{% endwith %}

	</div>
	<div class="row">
	<div id="team_nav" class="col-md-4 listgroup">
		<h3>Filter For Team</h3>
		{% for team in standings|sort(attribute='name') -%}
		{% if team.name != last -%}
		<a class="list-group-item" href="/team/{{ team.team_id  }}">{{ team.name }}</a>
		{%- endif %}
		{% set last = team.name %}
		{%- endfor %}
		<a class="list-group-item active" href="/">Full Schedule</a>
	</div>
	<div class="col-md-8">
		<ul id=tabNav class="nav nav-pills">
			<li role="presentation" class="active" ><a href="#schedule" data-toggle="tab">Schedule</a></li>
			<li role="presentation"><a href="#standings" data-toggle="tab">Standings</a></li>
			{% if placings %}<li role="presentation"><a href="#places" data-toggle="tab">Places</a></li>{% endif %}
		</ul>
	
	<div id="tabContents" class="tab-content">

			<div id="schedule" class="tab-pane fade active in">		
				<h1>{{ titleText }} Schedule</h1>	
					<table id="games" class="table">
						<thead>
							<tr>
								<th>#</th>
								<th>Time/Pool</th>
								<th>Teams</th>
								<th>Score</th>
							</tr>
						</thead>
						<tbody>
						{% for game in games -%}
							<tr class="{{ loop.cycle('odd', 'even') }}">
								<td rowspan=3>{{ game.gid }}</td>
							</tr>
							<tr  class="{{ loop.cycle('odd', 'even') }}">
								<td><strong>{{ game.day }} {{ game.start_time }}</strong></td>
								<td><div class="color-box" style="background-color: #000000;"></div><span class="{{game.style_b}}">{{ game.black }}</span></td>
								<td>
								{{game.score_b}} 
								{% if game.note_b -%}
									<span style="padding-left: 1em">{{ game.note_b }}</span>
								{%- endif %}
								</td>
							</tr>
							<tr  class="{{ loop.cycle('odd', 'even') }}">
								<td> 
								Pool: {{ game.pool }}
								{% if game.pod_color and game.pod -%}
									Pod: <span style="background-color:{{ game.pod_color }}; padding:0.5em">{{ game.pod }}</span>
								{% elif game.pod %}
									Pod: {{ game.pod }}
								{% endif %}
								</td>
								<td><div class="color-box" style="background-color: #FFFFFF;"></div><span class="{{game.style_w}}">{{ game.white }}</span></td>
								<td>
								{{game.score_w}} 
								{% if game.note_w -%}
									<span style="padding-left: 1em">{{ game.note_w }}</span>
								{% endif %}
								</td>
							</tr>
						{%- endfor %}
						</tbody>
					</table>	
		
					{% if noteText %}
						<div class="alert alert-info" role="alert">
							<p>{{ noteText }}</p>
						</div>
					{% endif %}
					</div>

			<div id="standings" class="tab-pane fade">
			<h1>{{ titleText }} Standings</h1>
			<table id=standings_tbl class="table table-striped">
				<thead>
					<tr>
						<th>Rank</th>
						<th>Div</th>
						<th>Team</th>
						<th>Points</th>
						<th>Record</th>
						<th>GA</th>
						<th>GP</th>
					</tr>
				</thead>
				<tbody>
				{% set lastPod ="" %}
				{% set rank = 1 %}
				{% for team in standings %}
					{% if lastPod != team.division and lastPod != "" -%}
						{% set rank = 1 %}
					</tbody>
					<thead>
						<tr>
							<th>Rank</th>
							<th>Div</th>
							<th>Team</th>
							<th>Points</th>
							<th>Record</th>
							<th>GA</th>
							<th>GP</th>
						</tr>
					</thead>
					<tbody>
					{%- endif %}
					<tr>
						<td>{{ rank }}</td>
						<td>{{ team.division}}</td>
						<td>{{ team.name }}</td>
						<td>{{ team.points }} </td>
						<td>{{ team.wins }}-{{ team.losses }}-{{ team.ties }}</td>
						<td>{{ team.goals_allowed }}</td>
						<td>{{ team.games_played }} </td>
					</tr>
					{% set rank = rank + 1 %}
					{% set lastPod = team.division %}
				{% endfor %}
				<tbody>
			</table>

			{% with messages = get_flashed_messages() %}
			  {% if messages %}
				<ul class=flashes>
				{% for message in messages %}
				  <li>{{ message }}</li>
				{% endfor %}
				</ul>
			  {% endif %}
			{% endwith %}

			</div>

			{% if placings %}
			<div id="places" class="tab-pane fade">
			<h1>{{ titleText }} Placings</h1>
			<table id=places_tbl class="table table-striped">
				<thead>
					<tr>
						<th>Place</th>
						<th>Team</th>
					</tr>
				</thead>
				<tbody>
				{% set row = 1 %}
				{% for team in placings %}
					{% if row % 2 == 0 %}
						{% set class="even" %}
					{% else %}
						{% set class="odd" %}
					{% endif %}
					<tr class={{ class }} >
						<td>{{ team.place }}</td><td class={{ team.style }}>{{ team.name }}</td>
					</tr>
					{% set row = row + 1 %}
				{% endfor %}
				</tbody>
			</table>
			</div>
			{% endif %}
			
	</div> <!-- tabContent -->
	
	</div>

	</div> <!-- row -->
</div> <!-- container -->
{%endblock main %}



