{% extends "/admin/admin_layout.html" %}

{% block nav %}
	{% include "admin/nav_admin.html" with context %}
{% endblock nav %}

{% block main %}

<div id="page_body" class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="page-header tournament-header">
			<h1 class="tournament-title">Users</h1>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
		{% with messages = get_flashed_messages() -%}
			{% if messages %}
				{% set last="" -%}
				<div class="alert alert-danger" role="alert">
				{% for message in messages %}
					{% if message != last -%}
						{{ message }}</br>
					{%- endif %}
					{% set last=message %}
				{% endfor %}
				</div>
			{% endif %}
		{%- endwith %}
		</div>
	</div>

	<div class="row">
		<div class="col-lg-8">
			<p><a class="btn btn-primary btn-md" href="/admin/user/add" role="button">Add User</a></p>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="table-responsive">
			<table id="users" class="table table-hover ">
				<thead>
					<tr>
						<th>Short Name</th>
						<th>Email</th>
						<th>Date Created</th>
						<th>Last Login</th>
						<th>Site Admin</th>
						<th>Admin</th>
						<th>Active</th>
						<th>Reset<br>Password</th>
					</tr>
				</thead>
				<tbody>
				{% for u in users -%}
					<tr>
						<td><a href="/admin/user/{{u.user_id}}">{{ u.short_name }}</a></td>
						<td>{{ u.email }}</td>
						<td>{{ u.date_created.strftime('%Y-%m-%d')  }}</td>
						{% if u.last_login -%}
						<td>{{ u.last_login.strftime('%Y-%m-%d')  }}</td>
						{% else -%}
						<td> - - - </td>
						{% endif -%}
						{% if u.site_admin -%}
						<td><i class="fa fa-fw fa-check" style="color:green"></i></td>
						{% else -%}
						<td><i class="fa fa-fw fa-times" style="color:red"></i></td>
						{% endif -%}
						{% if u.admin -%}
						<td><a href="/admin/user/{{ u.user_id }}/update?admin=0"><i class="fa fa-fw fa-check" style="color:green"></i></a></td>
						{% else -%}
						<td><a href="/admin/user/{{ u.user_id }}/update?admin=1"><i class="fa fa-fw fa-times" style="color:red"></i></a></td>
						{% endif -%}
						{% if u.active -%}
						<td><a href="/admin/user/{{ u.user_id }}/update?active=0"><i class="fa fa-fw fa-check" style="color:green"></i></a></td>
						{% else -%}
						<td><a href="/admin/user/{{ u.user_id }}/update?active=1"><i class="fa fa-fw fa-times" style="color:red" ></i></a></td>
						{% endif -%}
						<td><a href="/admin/user/{{ u.user_id }}/reset"><i class="fa fa-fw fa-unlock"></a></td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			</div>
		</div>
	</div>
</div>
{% endblock main %}
