{% extends "/admin/admin_layout.html.j2" %}

{% block nav %}
	{% include "admin/nav_admin.html.j2" with context %}
{% endblock nav %}

{% block main %}

	<script>
	jQuery(document).ready(function(){
		// This button will increment the value
		$('.qtyplus').click(function(e){
			// Stop acting like a button
			e.preventDefault();
			// Get the field name
			fieldName = $(this).attr('field');
			// Get its current value
			var currentVal = parseInt($('input[name='+fieldName+']').val());
			var newVal = 0;
			// If is not undefined
			if (!isNaN(currentVal)) {
				// Increment
				newVal = currentVal + 1;
			}

			$('input[name='+fieldName+']').val(newVal);
			 document.getElementById(fieldName).innerHTML=newVal;


		});
		// This button will decrement the value till 0
		$(".qtyminus").click(function(e) {
			// Stop acting like a button
			e.preventDefault();
			// Get the field name
			fieldName = $(this).attr('field');
			// Get its current value
			var currentVal = parseInt($('input[name='+fieldName+']').val());
			var newVal = 0;
			// If it isn't undefined or its greater than 0
			if (!isNaN(currentVal) && currentVal > 0) {
				// Decrement one
				newVal = currentVal - 1;
			}
			$('input[name='+fieldName+']').val(newVal);
			document.getElementById(fieldName).innerHTML=newVal;

		});

		$('#forfeit_b').click(function (event) {
			if (event.target.checked) {
				$('#forfeit_w').removeAttr('checked');
			}
		});
		$('#forfeit_w').click(function (event) {
			if (event.target.checked) {
				$('#forfeit_b').removeAttr('checked');
			}
		});
	});
	</script>

<div id="page_body" class="container">
	<h1>Update Score</h1>
	<h3>{{tournament.name}}</h3>

	{% for messages in get_flashed_messages() %}
		<div class=alert alert-warning> {{ message }} </div>
	{% endfor %}
	<form action='/admin/t/{{tournament.short_name}}/scores' method=post name='update'>
		<input type=hidden name=tid value={{ tournament.tid }}>
		<input type=hidden name=gid value={{ game.gid }}>
		<input type=hidden name=btid value={{ game.black_tid }}>
		<input type=hidden name=wtid value={{ game.white_tid }}>
		<input type=hidden name=pod  value={{ game.pod }}>
		<table id=games class=table>
			<thead>
				<tr><th>Game</th><th>Start Time</th><th>Pool</th><th>Pod</th></tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ game.gid}}</td>
					<td>{{ game.day }} {{ game.start_time }}</td>
					<td>{{ game.pool }}</td>
					<td>{{ game.pod }}</td>
			</tr>
			</tbody>
			<thead>
				<tr> <th colspan=2><h4>White</h4></td> <th colspan=2><h4>Black</h4></td></tr>
			</thead>
			<tbody>
				<tr>
					<td colspan=2>
						<h4>{{ game.white }}</h4>
						<input type='button' value='-' class='qtyminus btn btn-primary' field='score_w' />
						<input type=hidden  name=score_w value='{{ game.score_w }}'>
						<span id=score_w class=score>{{ game.score_w }}</span>
						<input type='button' value='+' class='qtyplus btn btn-primary' field='score_w' />
					</td>
					<td colspan=2>
						<h4>{{ game.black }}</h4>
						<input type='button' value='-' class='qtyminus btn btn-primary' field='score_b' />
						<input type=hidden  name=score_b value='{{ game.score_b }}'>
						<span id=score_b class=score>{{ game.score_b }}</span>
						<input type='button' value='+' class='qtyplus btn btn-primary' field='score_b' />
					</td>
				</tr>
				<tr>
					{% if game.forfeit == "b" -%}
						{% set black_check="checked=checked" %}
					{%- endif %}
					{% if game.forfeit == "w" -%}
						{% set white_check="checked=checked" %}
					{%- endif %}
					<td colspan=2>
						<input id="forfeit_w" type="checkbox" name="forfeit_w" {{ white_check }}> Forfeit White
					</td>
					<td colspan=2>
						<input id="forfeit_b" type="checkbox" name="forfeit_b" {{ black_check }}> Forfeit Black
					</td>
				</tr>
				<tr>
					<td colspan=4 style="text-align:center">
						<a href={{ request.base_url }} ><input type='button' class="btn btn-danger" value=Cancel></a>
						<input type='submit' class="btn btn-success" value=Update>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
{% endblock main %}
