{% extends "/admin/admin_layout.html.j2" %}

{% block nav %}
	{% include "admin/nav_admin.html.j2" with context %}
{% endblock nav %}

{% block main %}

<div id="page_body" class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="page-header tournament-header">
			<h1 class="tournament-title">Add User</h1>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			{% with messages = get_flashed_messages() %}
			  {% if messages %}
			  <div class="alert alert-danger" role="alert">
				{% for message in messages %}
				  <p>{{ message }}</p>
				{% endfor %}
			  </div>
			  {% endif %}
			{% endwith %}
			<form class="form-signin" action="/admin/user/add" method="POST" name="adduser">
			  <fieldset>
			    <div class="control-group">
			      <!-- Username -->
			      <label class="control-label"  for="username">Username</label>
			      <div class="controls">
			        <input type="text" id="short_name" name="short_name" placeholder="" class="input-xlarge">
			        <p class="help-block">Short name can contain any letters or numbers, without spaces</p>
			      </div>
			    </div>

			    <div class="control-group">
			      <!-- E-mail -->
			      <label class="control-label" for="email">E-mail</label>
			      <div class="controls">
			        <input type="email" id="email" name="email" placeholder="" class="input-xlarge">
			        <p class="help-block">Please provide your E-mail</p>
			      </div>
			    </div>

				<div class="control-group">
				  <!-- Site Admin-->
				  <div class="checkbox">
				  	<label class="control-label" for="site-admin"><input disabled type="checkbox" id="site-admin" name="site-admin" class="input-xlarge">Site-Admin</label>
					<p class="help-block">Make user a site administrator</p>
				  </div>
				</div>

				<div class="control-group">
				  <!-- Tournament Admin-->
				  <div class="checkbox">
					<label class="control-label" for="admin"><input type="checkbox" id="admin" name="admin" class="input-xlarge">Tournament Admin</label>
					<p class="help-block">Make user admin for all tournaments</p>
				  </div>
				</div>

			    <div class="control-group">
			      <!-- Button -->
			      <div class="controls">
			        <button class="btn btn-success" type="submit">Add User</button>
			      </div>
			    </div>
			  </fieldset>
			</form>
		</div>
	</div>
</div>
{% endblock main %}
