<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if tournament -%}
    <meta name="description" content="UWHScores for {{ tournament.name }} - Follow game results and check updated standings throughout the day.">
    {% if team_info and team_info.flag_url %}
    <meta property="og:image" content="https://uwhscores.com/{{ team_info.flag_url }}" />
    {% elif tournament.banner -%}
    <meta property="og:image" content="https://uwhscores.com/{{ tournament.banner }}" />
    {% else -%}
    <meta property="og:image" content="https://uwhscores.com/static/images/logo_og.png" />
    {%- endif %}
    {% else %}
    <meta name="description" content="UWHScores for tournaments - Follow game results and check updated standings throughout the day.">
    <meta property="og:image" content="https://uwhscores.com/static/images/logo_og.png" />
    {% endif %}

    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
	<title>Underwater Hockey Scores</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <!-- site specific css -->
  <link href="{{ url_for('static', filename='css/style.css') }}?v=2.0" rel="stylesheet" type="text/css">

	{% if request.host_url == "http://uwhscores.com/" or request.host_url == "http://www.uwhsores.com/" -%}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-64622005-1', 'auto');
        ga('send', 'pageview');
    </script>
    {% endif %}


</head>
<body class="d-flex flex-column vh-100">
	{% autoescape false %}
  <header>
    {% block nav %}{% endblock %}
  </header>

  <main class="flex-shrink-0">
    {% block main %}{% endblock %}
  </main>

	{% endautoescape %}
	<footer class="footer mt-auto">
		<div class="container">
			<p class="text-muted footer-text">&copy; 2022 UWHScores.com <a href="mailto:info@uwhscores.com">info@uwhscores.com</a>
		</div>
	</footer>
</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
{% block script %}{% endblock %}
</body>
</html>
