{% extends "/admin/common/admin_layout.html.j2" %}

{% block nav %}
	{% include "admin/common/admin_nav.html.j2" with context %}
{% endblock nav %}

{% block main %}

<div class="container-md">
  <div class="row justify-content-md-center mt-2">
    <div class="col-md-4 justify-content-center">
      <img class="mb-4 w-100" src="/static/images/logo.png" alt="">
		</div>
	</div>
	<div class="row justify-content-md-center">
		<div class="col-md-4">
			<h1 class="h3 mb-3 fw-normal">Set Your New Password:</h1>
			<form action="/login/reset" method="post" name="login">
				<input type="hidden" name="token" value="{{ token }}">
				<div class="mb-3">
					<label class="form-label" for="password1">New Password</label>
					<input type="password" id="password1" name="password1" class="form-control" placeholder="Password" required>
				</div>
				<div class="mb-3">
					<label class="form-label" for="password2">Re-type</label>
					<input type="password" id="password2" name="password2" class="form-control" placeholder="Re-Type" required>
				</div>
				<div>
					<button class="w-100 btn btn-lg btn-primary" type="submit">Set Password</button>
				</div>
      </form>
    </div>
  </div>
</div>
<!-- /.container -->

{% endblock main %}
