{% extends "/admin/common/admin_layout.html.j2" %}

{% block nav %}
	{% include "admin/common/admin_nav.html.j2" with context %}
{% endblock nav %}

{% block main %}

<!-- Page Content -->
<div class="container">
	<main class="form-signin">
		<form action="/login/reset" method="post" name="reset">
			<img class="mb-4" src="/static/images/logo.png" alt="" width="300px">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger" role="alert">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
        {% endif %}
      {% endwith %}
			<h1 class="h3 mb-3 fw-normal">Set Your New Password:</h1>

				<input type="hidden" name="token" value="{{ token }}">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="password1" name="password1" class="form-control" placeholder="Password" required>
				<label for="inputPassword" class="sr-only">Re-type</label>
        <input type="password" id="password2" name="password2" class="form-control" placeholder="Re-Type" required>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
      </form>

		  <div class="alert alert-info mt-3" role="alert">
			  <p>If you are having trouble with your account please email me at
				 <a href="mailto:info@uwhscores.com">info@uwhscores.com</a>
			  </p>
		  </div>
    </div>
  </div>

</div>
<!-- /.container -->

{% endblock main %}
