{% if placings %}
<div id="places" class="">
<h1>{{ titleText }} Placings</h1>
<table id=places_tbl class="table tablee-sm table-striped placings-table">
  <thead>
    <tr>
      <th>Place</th>
      <th>Team</th>
    </tr>
  </thead>
  <tbody>
  {% for team in placings %}
    {% if loop.previtem %}
      {% set lastDiv = loop.previtem.div %}
    {% endif %}
    {% if not loop.first and team.div != lastDiv -%}
    <thead>
      <tr>
        <th>Place</th>
        <th>Team</th>
      </tr>
    </thead>
    {% endif %}
    <tr >
      <td>{{ team.place }} {{ team.div }}</td>
      {% if team.flag_url -%}
      <td><img src="{{ team.flag_url.thumb }}" class="flag-thumb"> {{ team.name }} </td>
      {% else -%}
      <td class={{ team.style }}>{{ team.name }}</td>
      {%- endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endif %}
