{% extends "layout.html" %}

{% block nav %}
	{% include "nav_bar.html" with context %}
{% endblock nav %}

{% block main %}
<div id="page_body" class="container">
	<div class="page-header" style="margin-top:0px;">
		<h1 id="tournamentTitle">UWHScores.com FAQ</h1>
	</div>
	<div class="col-md-4">
		<div class="alert alert-info" role="alert">
			<p>If you don't see your question answered here, please feel free to
			contact me at <a href="mailto:info@uwhscores.com">info@uwhscores.com</a>
			</p>
		</div>
	</div>
	<div class="col-md-8">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Q: What is this thing?</h3>
				</div>
				<div class="panel-body">
				<p>UWHScores.com is a system for tracking results of underwater hockey
				tournaments. It tracks the scores and calculates standings in real time. The schedule dynamically
				updates to fill seeds and winners/losers into the bracket so you'll always know who is playing
				when.</p>
				<p>UWHScores.com is designed to make the lives of tournament directors easier and give players an
				easy interface to follow their team's progress through the schedule.</p>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Q: How do I use it?</h3>
				</div>
				<div class="panel-body">
				<p>Players can follow the tournament by checking in on anything with internet. The schedule can be filtered a
				number of different ways from the navigation at the top of the page:</p>
				<ul>
					<li>Division</li>
					<li>Pod</li>
					<li>Team</li>
				</ul>
				<p> Filtering the schedule can make it easier for players to focus on the parts of the schedule that matter to them.</p>
				<p> The schedule can further be filtered by day.</p>
				</div>
			</div>

			<div class="panel panel-default" name="2">
				<div class="panel-heading">
					<h3 class="panel-title">Q: How do I understand the standings?</h3>
				</div>
				<div class="panel-body">
				<p>The standings update in real time as the games progress. This way players can better
				understand where their team stands and what the potential brackets might look like.</p>
				<p>
				In addition to division, pod and team name, the fields on the standing are:
				<ul>
					<li> Rank - Where a team currently stands among the division or pod. Two teams may have the same rank if they are currently fully tied (see below for how ties are broken).</li>
					<li> Points - The number of points the team has earned. Teams are ranked by points. A team earns two points for each win and one point for a tie.</li>
					<li> Record - Win-Loss-Tie record for only the games in the division/pod that the standings are calculated.</li>
					<li> GA - Goals Allowed during the games for the division or pod played for points in the standing. Goals allowed is used as a tie-breaker if necessary. </li>
					<li> GP - Games Played. Number of games the team has played in this division/pod. This only counts the games that will go towards points in the standing.</li>
					<li> Overall - Win-Loss-Tie record for the whole tournament, includes current set of games as well as any previous pods and bracket play. </li>
				</ul>
				</p>
				</div>
			</div>

			<div class="panel panel-default" name="3">
				<div class="panel-heading">
					<h3 class="panel-title">Q: How are ties resolved?</h3>
				</div>
				<div class="panel-body">
				<p>Teams are ranked by the number of points they have earned (wins and ties). If two teams have the same number of points
				then the tie will be broken according to the International Rules of Underwater Hockey v10.0 rule 4.3.7<p>
				<p>If two teams are tied in ranking, the tie breaking procedure is as follows:
				<ul>
					<li>Head to head competition</li>
					<li>Most number of wins in the intra-section matches. Team with the most wins is ranked higher.</li>
					<li>Least number of losses. Team with the least losses is ranked higher.</li>
					<li>Least sum of points allowed in all matches in the intra-section matches. Team allowing the least number
	of goals is ranked higher.</li>
				</ul>
				<p>If none of the above can break the tie, the tie will be broken by a coin toss or some other method as directed
				by the tournament director or head referee.</p>
				<p>
				The standings reflect the tie-breakers in real time (except coin-flip for obvious reason). This means they can change as
				the day progresses and things unfold. The standings are not final till all the games in a section have been played.
				</p>
				</div>
			</div>

			<div class="panel panel-default" name="4">
				<div class="panel-heading">
					<h3 class="panel-title">Q: What about three-way ties?</h3>
				</div>
				<div class="panel-body">
				<p>In the event that three teams have the same number of points at the end or round-robin play for a division or pod
				the tie will again be broken according to the International Rules of Underwater Hockey v10.0 rule 4.3.7.2<p>
				<p>The rule states that if three teams are tied and no clear winner from head-to-head can be determined
				(that is only one team beat the other two), the two-way tie breakers will be applied in order except head-to-head. One team will be
				separated from the other two as either the top or bottom team. The remaining two teams then restart the tie-breaking sequence
				for two teams as covered by rule 4.3.7.</p>
				<p>For example, if three teams were tied on points and had the same number of wins and losses then goals allowed
				would be used. The team with the most goals allowed would become the third place team. The remaining two teams would
				then be compared again starting with head-to-head competition for first and second.</p>
				<p>If none of the above can break the tie, the tie will be broken by a three-way coin flip or some other method as directed
				by the tournament director or head referee.</p>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Q: Will it work on my phone?</h3>
				</div>
				<div class="panel-body">
				<p>Hopefully yes. I designed the pages to be mobile friendly and used frameworks geared towards that. It should work
				on most modern smart phones and tablets. If you have any feedback please send it my way.</p>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Q: What if I notice an issue/discrepancy?</h3>
				</div>
				<div class="panel-body">
				<p>Please if you notice any discrepancies in the schedule let somebody know as quickly as possible.</p>
				<p>Please notify the tournament director, head referee or Jim Lester.</p>
				<p>If you notice an issue with the site or have any general feed back send it my way at
				<a href="mailto:info@uwhscores.com">info@uwhscores.com</a></p>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Q: What happens if a team forfeits?</h3>
				</div>
				<div class="panel-body">
				<p>If a team forfeit's a match then it will cost them two points in the standings. The other team will receive
				credit for a win and earn two points.</p>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Q: Why goals allowed and not goal differential?</h3>
				</div>
				<div class="panel-body">
				<p>First, because those are the rules, it is not a decision of this site. For more info on the tie breaker rules, see above.</p>
				<p>The rules are setup to discourage teams from running up the score against a weaker opponent.</p>
				<p>If ties were broken on goal differential or most goals it would benefit a team to run up as many goals as possible against
				a weak team to help them in the tie break later. That's no fun.</p>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Q: I want this for my tournament. How do I get it?</h3>
				</div>
				<div class="panel-body">
				<p>If you would like to have UWHScores run durring your tournament please talk to me, Jim Lester.</p>
				<p>I do this as a side project as as my way to contribute to UWH. I can't commit to being able to run it
				for every tournament but please reach out to me and we will see what we can do.</p>
				<p><a href="mailto:info@uwhscores.com">info@uwhscores.com</a></p>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Q: What about old tournaments? Can I see the scores?</h3>
				</div>
				<div class="panel-body">
				<p>You can now!</p>
				</div>
			</div>

		</div> <!-- row -->
	</div>
</div> <!-- container -->
{%endblock main %}
