{% block nav %}
<!-- Navigation -->
    {% if request.host_url != "http://uwhscores.com/" -%}
    <nav class="navbar navbar-default navbar-inverse" role="navigation" style="background-color: #8A0808;">
    {% else %}
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
        {%- endif %}
        <div id="nav_bar" class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Underwater Hockey Scores</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if tournament -%}
                    <li>
                        <a href="/t/{{ tournament.short_name }}">All</a>
                    </li>
                    {%- endif %}
                    {% if divisions -%}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Divisions<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for div in divisions %}
                                {% if div.name -%}
                                <li><a href="/t/{{ tournament.short_name }}/div/{{ div.id }}">{{ div.name }}</a></li>
                                {% else %}
                                <li><a href="/t/{{ tournament.short_name }}/div/{{ div.id }}">{{ div.id }} Division</a></li>
                                {%- endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    {%- endif %}
                    {% if pods -%}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pods<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for pod in pods -%}
                                {% if pod.name -%}
                                <li><a href="/t/{{ tournament.short_name }}/pod/{{ pod.id }}">{{ pod.name }}</a></li>
                                {% else %}
                                <li><a href="/t/{{ tournament.short_name }}/pod/{{ pod.id }}">{{ pod.id }} Pod</a></li>
                                {%- endif %}
                            {%- endfor %}
                        </ul>
                    </li>
                    {%- endif %}
                    {% if team_list -%}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Teams<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for team in team_list -%}
                            <li><a href="/t/{{ tournament.short_name }}/team/{{ team.team_id  }}">{{ team.name }}</a></li>
                            {%- endfor %}
                        </ul>
                    </li>
                    {%- endif %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages<b class=caret></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/">Home</a></li>
                            <li><a href="/faq">FAQ</a></li>
                            {% if tournament and tournament.is_active -%}
                            <li><a href="/admin/t/{{ tournament.short_name }}">Admin</a></li>
                            {% else %}
                            <li><a href="/admin">Admin</a></li>
                            {%- endif %}
                        </ul>
                    </li>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- ./container -->
    </nav>
    <!-- ./navigation -->
    {% endblock nav %}
