{% extends "layout.html" %}

{% block nav %}
	{% include "nav_bar.html" with context %}
{% endblock nav %}

{% block main %}
<div id="page_body" class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header tournament-header">
				<h1 class="tournament-title">{{ tournament.name }}</h1>
				<h4 class="tournament-info">{{ tournament.location }} - {{ tournament.date_string }}</h4>
			</div>
		</div>
		{% if site_message -%}
		<div class="col-md-8">
			<div class="alert alert-info" role="alert">
				<strong>Announcement:</strong>
				<p>{{ site_message }}</p>
			</div>
		</div>
		{%- endif %}
	</div>
	<div class="row">
	{% if team_list -%}
	<div id="team_nav" class="col-md-4 listgroup">
		{% if print_friendly -%}
		<a href="/t/{{tournament.short_name}}/print"><i class="fa fa-fw fa-print"></i>Printer Friendly Schedule</a>
		{% endif %}
		<h3>Filter For Team</h3>
		{% for team in team_list -%}
		<a class="list-group-item" href="/t/{{ tournament.short_name}}/team/{{ team.team_id  }}">
			{% if team.flag_url %}<img src={{ team.flag_url}} class="flag-thumb pull-left">{% endif %}
			{{ team.name }}
		</a>
		{%- endfor %}
		<a class="list-group-item list-group-item-info" href="/t/{{ tournament.short_name }}">Full Schedule</a>
	</div>
	{% else %}
	<div class="col-md-4">
		<div class="alert alert-info" role="alert">
			<h3> NOTICE </h3>
			<p><strong> Team schedule view only shows confirmed games! </strong></p>
			<p> Games for later pods or brackets that haven't been decided will not
			show here until teams are assigned.</p>
			<p> Check back regularly to confirm future games.</p>
		</div>
	</div>
	{%- endif %}
	<div class="col-md-8">
	{% with messages = get_flashed_messages() -%}
		{% if messages %}
			<div class="alert alert-danger alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{% for message in messages %}
				{{ message }}</br>
			{% endfor %}
			</div>
		{% endif %}
	{%- endwith %}
		<ul id=tabNav class="nav nav-pills">
			<li role="presentation" class="active btn-lg" ><a href="#schedule" data-toggle="tab">Schedule</a></li>
			<li role="presentation" class="btn-lg"><a href="#standings" data-toggle="tab">Standings</a></li>
			{% if placings %}<li role="presentation" class="btn-lg"><a href="#places" data-toggle="tab">Placings</a></li>{% endif %}
			{% if team_info and team_info.roster %}<li role="presentation" class="btn-lg"><a href="#roster" data-toggle="tab">Roster</a></li>{% endif %}
		</ul>

		<div id="tabContents" class="tab-content">
			<div id="schedule" class="tab-pane fade active in">
				<div>
					{%- if team_info and team_info.flag_url %}
					<img class="team-flag pull-right" src="{{ team_info.flag_url }}" alt="Team Flag">
					{% endif -%}
					<h1>{{ title_text }} Schedule </h1>
				</div>
				<div>
					<nav id="dayPagerNav2" >
						<ul id="dayPager" class="pagination pagination-sm">
							<li class="active toggleDay" day="All"><span>All</span></li>
							{% for day in tournament.days -%}
							<li class="toggleDay" day="{{day}}"><span>{{day}}</span></li>
							{%- endfor %}
						</ul>
					</nav>
					<table id="games" class="table table-sm">
						<thead>
							<tr>
								<th>#</th>
								<th>Time/Pool</th>
								<th>Teams</th>
								<th>Score</th>
							</tr>
						</thead>
						<tbody>
						{% for game in games -%}
							<tr class="{{ loop.cycle('odd', 'even') }} {{ game.day}}">
								<td rowspan=3>{{ game.gid }}</td>
							</tr>
							<tr  class="{{ loop.cycle('odd', 'even') }} {{ game.day}}">
								<td class="game-time">
									<span class="game-line">{{ game.day | replace("-", " ") }} </span>
									<span class="game-line"> {{ game.start_time }}</span>
								</td>
								<td>
									<div class="color-box" style="background-color: #FFFFFF;"></div><span class="{{game.style_w}}">{{ game.white }}</span>
									{% if game.white_flag -%}
									<img src="{{ game.white_flag.thumb }}" class="flag-thumb pull-right" >
									{%- endif %}
								</td>
								<td>
								{{game.score_w}}
								{% if game.note_w -%}
									<span style="padding-left: 1em">{{ game.note_w }}</span>
								{% endif %}
								</td>
							</tr>
							<tr  class="{{ loop.cycle('odd', 'even') }} {{ game.day}}">
								<td>
								<span class="game-line">Pool: {{ game.pool }}</span>
								{% if game.pod_color and game.pod -%}
									<!-- Pod: <span class="game-line" style="background-color:{{ game.pod_color }}; padding:0.5em">{{ game.pod }}</span> -->
									<span class="game-line"> Pod: {{ game.pod }} </span>
								{% elif game.pod %}
									<span class="game-line"> Pod: {{ game.pod }} </span>
								{% elif game.type == "CO" %}
									<span class=game-description>Cross Over</span>
								{% endif %}
								{% if game.description -%}
									<span class=game-description>{{ game.description }}</span>
								{% endif %}
								</td>
								<td>
									<i class="fas fa-square-full stick-color stick-black"></i><span class="{{game.style_b}}">{{ game.black }}</span>
									{% if game.black_flag -%}
									<img src="{{ game.black_flag.thumb }}" class="flag-thumb pull-right" >
									{%- endif %}
								</td>
								<td>
								{{game.score_b}}
								{% if game.note_b -%}
									<span style="padding-left: 1em">{{ game.note_b }}</span>
								{%- endif %}
								</td>
							</tr>
						{%- endfor %}
						</tbody>
					</table>

					{% if noteText %}
						<div class="alert alert-info" role="alert">
							<p>{{ noteText }}</p>
						</div>
					{% endif %}
					</div>

					{% if team_warning -%}
					<div class="alert alert-info" role="alert">
						<h3> NOTICE </h3>
						<p><strong> Team schedule view only shows confirmed games! </strong></p>
						<p> Games for later pods or brackets that haven't been decided will not
						show here until teams are assigned.</p>
						<p> Check back regularly to confirm future games.</p>
					</div>
					{%- endif %}
				</div>
			<div id="standings" class="tab-pane fade">
			{% for group in grouped_standings|sort -%}
			{% if group -%}
			<h4>{{ group }}</h4>
			{%- else %}
			<h4>Standings</h4>
			{%- endif %}
			<table class="table table-striped standings-table">
				<thead>
					<tr>
						<th>#</th>
						<th>Team</th>
						<th>Points</th>
						<th>Record</th>
						<th>GA</th>
						<th>GP</th>
						<th>Overall</th>
					</tr>
				</thead>
				<tbody>
					{% for rank in grouped_standings[group] -%}
					{% set team = rank.team -%}
					<tr>
						<td><strong>{{ rank.place }}</strong></td>
						<!-- {{ team.team_id }} -->
						{% if team.flag_url -%}
						<td><img src="{{ team.flag_url.thumb }}" class="flag-thumb game-line"> <span class="game-line"> {{ team.name }} </span> </td>
						{% else -%}
						<td>{{ team.name }}</td>
						{%- endif %}
						<td>{{ team.points }} </td>
						<td>{{ team.wins }}-{{ team.losses }}-{{ team.ties }}</td>
						<td>{{ team.goals_allowed }}</td>
						<td>{{ team.games_played }} </td>
						<td>{{ team.wins_t }}-{{ team.losses_t }}-{{ team.ties_t }}</td>
					</tr>
					{%- endfor %}
				<tbody>
			</table>
			{%- endfor %}

			<div class="alert alert-info" role="alert">
				<p>
				<strong>Points -</strong> Primary ranking metric. Points earned from round-robin game play for standing.
				{% if tournament.POINTS_WIN == 3 -%}
				Teams earn three points for each win,
				{% elif tournament.POINTS_WIN == 2 -%}
				Teams earn two points for each win,
				{%- endif %}
				and one point for a tie.</br>
				<strong>Record -</strong> Record in games played for points in standing. Wins-Losses-Ties. </br>
				<strong>GA -</strong> Goals allowed in games played for standings, used as tie breaker. </br>
				<strong>GP -</strong> Games played for standings. </br>
				<strong>Overall -</strong> Total tournament record including non-standings games and brackets. Wins-Losses-Ties.
				</p>
				<p>
				For more information on how standings are calculated and tie-breakers please see the <a href=/faq>FAQ</a>
				</p>
			</div>
			</div>

			{% if placings %}
			<div id="places" class="tab-pane fade">
			<h1>{{ titleText }} Placings</h1>
			<table id=places_tbl class="table table-striped">
				<thead>
					<tr>
						<th>Place</th>
						<th>Team</th>
					</tr>
				</thead>
				<tbody>
				{% for team in placings %}
					{% if loop.previtem %}
						{% set lastDiv = loop.previtem.div %}
					{% endif %}
					{% if not loop.first and team.div != lastDiv -%}
					<thead>
						<tr>
							<th>Place</th>
							<th>Team</th>
						</tr>
					</thead>
					{% endif %}
					<tr >
						<td>{{ team.place }} {{ team.div }}</td>
						{% if team.flag_url -%}
						<td><img src="{{ team.flag_url.thumb }}" class="flag-thumb"> {{ team.name }} </td>
						{% else -%}
						<td class={{ team.style }}>{{ team.name }}</td>
						{%- endif %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
			</div>
			{% endif %}

			{% if team_info and team_info.roster -%}
			<div id="roster" class="tab-pane fade">
				<h1>{{ title_text }} Roster</h1>
				<table id=roster_tbl class="table table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Cap Number</th>
						</tr>
					</thead>
					<tbody>
						{%- for player in team_info.roster|sort %}
						<tr>
							<td>{{ player.name }}</td>
							<td>{{ player.number if player.number != None else "" }}</td>
						</tr>
						{% endfor -%}
					</tbody>
				</table>
				<table id=coaches_tbl class="table table-striped">
					<thead>
						<tr>
							<th>Coaches</th>
						</tr>
					</thead>
					<tbody>
						{%- if team_info.coaches %}
						{%- for coach in team_info.coaches|sort %}
						<tr>
							<td>{{ coach.name }}</td>
						</tr>
						{% endfor -%}
						{%- endif %}
					</tbody>
				</table>
			</div>
			{%- endif %}
	</div> <!-- tabContent -->

	</div>

	</div> <!-- row -->
</div> <!-- container -->
{%endblock main %}
