{% extends "layout.html" %}

{% block nav %}
	{% include "nav_bar.html" with context %}
{% endblock nav %}

{% block main %}
<div id="page_body" class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header tournament-header">
				<h1 class="tournament-title">{{ tournament.name }}</h1>
				<h4 class="tournament-info">{{ tournament.location }} - {{ tournament.date_string }}</h4>
			</div>
		</div>
		{% if site_message -%}
		<div class="col-md-8">
			<div class="alert alert-info" role="alert">
				<strong>Announcement:</strong>
				<p>{{ site_message }}</p>
			</div>
		</div>
		{%- endif %}
	</div>
	<div class="row">
	{% if team_list -%}
	<div id="team_nav" class="col-md-4 listgroup">
		<a href="/t/{{tournament.short_name}}/print"><i class="fa fa-fw fa-print"></i>Printer Friendly Schedule</a>
		<h3>Filter For Team</h3>
		{% for team in team_list -%}
		<a class="list-group-item" href="/t/{{ tournament.short_name}}/team/{{ team.team_id  }}">{{ team.name }}</a>
		{%- endfor %}
		<a class="list-group-item list-group-item-info" href="/">Full Schedule</a>
	</div>
	{% else %}
	<div class="col-md-4">
		<div class="alert alert-info" role="alert">
			<h3> NOTICE </h3>
			<p><strong> Team schedule view only shows confirmed games! </strong></p>
			<p> Games for later pods or brackets that haven't been decided will not
			show here until teams are assigned.</p>
			<p> Check back regularly to confirm future games.</p>
		</div>
	</div>
	{%- endif %}
	<div class="col-md-8">
	{% with messages = get_flashed_messages() -%}
		{% if messages %}
			<div class="alert alert-danger alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{% for message in messages %}
				{{ message }}</br>
			{% endfor %}
			</div>
		{% endif %}
	{%- endwith %}
		<ul id=tabNav class="nav nav-pills">
			<li role="presentation" class="active btn-lg" ><a href="#schedule" data-toggle="tab">Schedule</a></li>
			<li role="presentation" class="btn-lg"><a href="#standings" data-toggle="tab">Standings</a></li>
			{% if placings %}<li role="presentation" class="btn-lg"><a href="#places" data-toggle="tab">Places</a></li>{% endif %}
			{% if team_info and team_info.roster %}<li role="presentation" class="btn-lg"><a href="#roster" data-toggle="tab">Roster</a></li>{% endif %}
		</ul>

		<div id="tabContents" class="tab-content">
			<div id="schedule" class="tab-pane fade active in">
				<div>
					{%- if team_info and team_info.flag_url %}
					<img class="team-flag pull-right" src="{{ team_info.flag_url }}" alt="Team Flag">
					{% endif -%}
					<h1>{{ title_text }} Schedule </h1>
				</div>
				<div>
					<nav id="dayPagerNav2" >
						<ul id="dayPager" class="pagination pagination-sm">
							<li class="active toggleDay" day="All"><span>All</span></li>
							{% for day in tournament.days -%}
							<li class="toggleDay" day="{{day}}"><span>{{day}}</span></li>
							{%- endfor %}
						</ul>
					</nav>
					<table id="games" class="table">
						<thead>
							<tr>
								<th>#</th>
								<th>Time/Pool</th>
								<th>Teams</th>
								<th>Score</th>
							</tr>
						</thead>
						<tbody>
						{% for game in games -%}
							<tr class="{{ loop.cycle('odd', 'even') }} {{ game.day}}">
								<td rowspan=3>{{ game.gid }}</td>
							</tr>
							<tr  class="{{ loop.cycle('odd', 'even') }} {{ game.day}}">
								<td><strong>{{ game.day }} {{ game.start_time }}</strong></td>
								<td><div class="color-box" style="background-color: #FFFFFF;"></div><span class="{{game.style_w}}">{{ game.white }}</span></td>
								<td>
								{{game.score_w}}
								{% if game.note_w -%}
									<span style="padding-left: 1em">{{ game.note_w }}</span>
								{% endif %}
								</td>
							</tr>
							<tr  class="{{ loop.cycle('odd', 'even') }} {{ game.day}}">
								<td>
								Pool: {{ game.pool }}
								{% if game.pod_color and game.pod -%}
									Pod: <span style="background-color:{{ game.pod_color }}; padding:0.5em">{{ game.pod }}</span>
								{% elif game.pod %}
									Pod: {{ game.pod }}
								{% elif game.type == "CO" %}
									</br><span style="background-color:#ccc; padding:0.2em">Cross Over</span>
								{% endif %}
								{% if game.description -%}
									</br><span style="background-color:#ccc; padding:0.2em">{{ game.description }}</span>
								{% endif %}
								</td>
								<td><div class="color-box" style="background-color: #000000;"></div><span class="{{game.style_b}}">{{ game.black }}</span></td>
								<td>
								{{game.score_b}}
								{% if game.note_b -%}
									<span style="padding-left: 1em">{{ game.note_b }}</span>
								{%- endif %}
								</td>
							</tr>
						{%- endfor %}
						</tbody>
					</table>

					{% if noteText %}
						<div class="alert alert-info" role="alert">
							<p>{{ noteText }}</p>
						</div>
					{% endif %}
					</div>

					{% if team_warning -%}
					<div class="alert alert-info" role="alert">
						<h3> NOTICE </h3>
						<p><strong> Team schedule view only shows confirmed games! </strong></p>
						<p> Games for later pods or brackets that haven't been decided will not
						show here until teams are assigned.</p>
						<p> Check back regularly to confirm future games.</p>
					</div>
					{%- endif %}
				</div>
			<div id="standings" class="tab-pane fade">
			<h1>{{ titleText }} Standings</h1>
			<table id=standings_tbl class="table table-striped">
				<thead>
					<tr>
						{% if divisions -%}
						<th>Div</th>
						{%- endif %}
						{% if pods -%}
						<th>Pod</th>
						{%- endif %}
						<th>Rank</th>
						<th>Team</th>
						<th>Points</th>
						<th>Record</th>
						<th>GA</th>
						<th>GP</th>
						<th>Overall</th>
					</tr>
				</thead>
				<tbody>
				{% for rank in standings -%}
				{% set team = rank.team %}
					{% if loop.previtem %}
						{% set lastDiv = loop.previtem.team.division %}
						{% set lastPod = loop.previtem.team.pod %}
					{% endif %}
					{% if not loop.first and (team.pod != lastPod) or (team.division != lastDiv and lastPod == None ) -%}
 				</tbody>
				<thead>
					<tr>
						{% if divisions -%}
						<th>Div</th>
						{%- endif %}
						{% if pods -%}
						<th>Pod</th>
						{%- endif %}
						<th>Rank</th>
						<th>Team</th>
						<th>Points</th>
						<th>Record</th>
						<th>GA</th>
						<th>GP</th>
						<th>Overall</th>
					</tr>
				</thead>
				<tbody>
					{%- endif %}
					<tr>
						{% if divisions -%}
						<td>{{ team.division}}</td>
						{%- endif %}
						{% if team.pod != None -%}
						<td>{{ team.pod }} </td>
						{%- endif %}
						<td>{{ rank.place }}</td>
						<td>{{ team.name }}</td>
						<td>{{ team.points }} </td>
						<td>{{ team.wins }}-{{ team.losses }}-{{ team.ties }}</td>
						<td>{{ team.goals_allowed }}</td>
						<td>{{ team.games_played }} </td>
						<td>{{ team.wins_t }}-{{ team.losses_t }}-{{ team.ties_t }}</td>
					</tr>
				{%- endfor %}
				<tbody>
			</table>

			<div class="alert alert-info" role="alert">
				<p>
				<strong>Points -</strong> Primary ranking metric. Points earned from round-robin game play for standing. Teams earn two or three points (base on tournament rules) for each win, and one point for a tie.</br>
				<strong>Record -</strong> Record in games played for points in standing </br>
				<strong>GA -</strong> Goals allowed in games played for standings, used as tie breaker </br>
				<strong>GP -</strong> Games played for standings </br>
				<strong>Overall -</strong> Total tournament record including non-standings games and brackets
				</p>
				<p>
				For more information on how standings are calculated and tie-breakers please see the <a href=/faq>FAQ</a>
				</p>
			</div>
			</div>

			{% if placings %}
			<div id="places" class="tab-pane fade">
			<h1>{{ titleText }} Placings</h1>
			<table id=places_tbl class="table table-striped">
				<thead>
					<tr>
						<th>Place</th>
						<th>Team</th>
					</tr>
				</thead>
				<tbody>
				{% set row = 1 %}
				{% for team in placings %}
					{% if row % 2 == 0 %}
						{% set class="even" %}
					{% else %}
						{% set class="odd" %}
					{% endif %}
					<tr class={{ class }} >
						<td>{{ team.place }}</td><td class={{ team.style }}>{{ team.name }}</td>
					</tr>
					{% set row = row + 1 %}
				{% endfor %}
				</tbody>
			</table>
			</div>
			{% endif %}

			{% if team_info and team_info.roster -%}
			<div id="roster" class="tab-pane fade">
				<h1>{{ titleText }} Roster</h1>
				<table id=roster_tbl class="table table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Cap Number</th>
						</tr>
					</thead>
					<tbody>
						{%- for player in team_info.roster|sort %}
						<tr>
							<td>{{ player.name }}</td>
							<td>{{ player.number if player.number != None else "" }}</td>
						</tr>
						{% endfor -%}
					</tbody>
				</table>
			</div>
			{%- endif %}
	</div> <!-- tabContent -->

	</div>

	</div> <!-- row -->
</div> <!-- container -->
{%endblock main %}
